<%
  const {
    buttonLabel,
    buttonVariant,
    buttonSize,
    buttonType,
    buttonAction,
    buttonDisabled,
    buttonStandalone
  } = loadConfig("./button.config.js", { props });
%>

<% if (buttonStandalone) { %>
  <link rel="stylesheet" href="<%= asset('./button.css') %>" />
<% } %>

<button
  type="<%= buttonType %>"
  class="ui-button ui-button--<%= buttonVariant %> ui-button--<%= buttonSize %>"
  data-component="button"
  data-label="<%= buttonLabel %>"
  data-type="<%= buttonType %>"
  data-variant="<%= buttonVariant %>"
  data-size="<%= buttonSize %>"
  data-disabled="<%= String(buttonDisabled) %>"
  <%- buttonAction ? `data-action="${buttonAction}"` : "" %>
  <%= buttonDisabled ? "disabled" : "" %>
>
  <%= buttonLabel %>
</button>

<% if (buttonStandalone) { %>
  <script type="module" src="<%= asset('./button.js') %>"></script>
<% } %>
