<%
  const btn = loadConfig("./button.config.js", { props });
%>

<% if (btn.standalone) { %>
  <link rel="stylesheet" href="<%= asset('./button.css') %>" />
<% } %>

<button
  type="<%= btn.type %>"
  class="ui-button ui-button--<%= btn.variant %> ui-button--<%= btn.size %>"
  data-component="button"
  data-label="<%= btn.label %>"
  data-type="<%= btn.type %>"
  data-variant="<%= btn.variant %>"
  data-size="<%= btn.size %>"
  data-disabled="<%= String(btn.disabled) %>"
  <%- btn.action ? `data-action="${btn.action}"` : "" %>
  <%= btn.disabled ? "disabled" : "" %>
>
  <%= btn.label %>
</button>

<% if (btn.standalone) { %>
  <script type="module" src="<%= asset('./button.js') %>"></script>
<% } %>
