<%
  const {
    inputLabel,
    inputName,
    inputPlaceholder,
    inputHelper,
    inputType,
    inputValue,
    inputRequired,
    inputShowLabel,
    inputStandalone
  } = loadConfig("./text-input.config.js", { props });
%>

<% if (inputStandalone) { %>
  <link rel="stylesheet" href="<%= asset('./text-input.css') %>" />
<% } %>

<label
  class="ui-field ui-text-input"
  data-component="text-input"
  data-show-label="<%= String(inputShowLabel) %>"
>
  <% if (inputShowLabel && inputLabel) { %>
    <span class="ui-field__label"><%= inputLabel %></span>
  <% } %>

  <input
    class="ui-text-input__control"
    type="<%= inputType %>"
    name="<%= inputName %>"
    placeholder="<%= inputPlaceholder %>"
    value="<%= inputValue %>"
    <%= inputRequired ? "required" : "" %>
  />

  <% if (inputHelper) { %>
    <span class="ui-field__helper"><%= inputHelper %></span>
  <% } %>
</label>

<% if (inputStandalone) { %>
  <script type="module" src="<%= asset('./text-input.js') %>"></script>
<% } %>
