<%
  const dropdown = loadConfig("./dropdown.config.js", { props });
%>

<% if (dropdown.standalone) { %>
  <link rel="stylesheet" href="<%= asset('./dropdown.css') %>" />
<% } %>

<div
  class="ui-field ui-dropdown"
  data-component="dropdown"
  data-name="<%= dropdown.name %>"
  data-mode="<%= dropdown.mode %>"
  data-placeholder="<%= dropdown.placeholder %>"
  data-show-label="<%= String(dropdown.showLabel) %>"
  data-searchable="<%= String(dropdown.searchable) %>"
  data-empty-text="<%= dropdown.emptyText %>"
  data-has-options="<%= String(dropdown.options.length > 0) %>"
>
  <% if (dropdown.showLabel && dropdown.label) { %>
    <span class="ui-field__label"><%= dropdown.label %></span>
  <% } %>

  <div class="ui-dropdown__frame">
    <script type="application/json" data-dropdown-options><%- JSON.stringify(dropdown.options) %></script>
    <script type="application/json" data-dropdown-selected><%- JSON.stringify(dropdown.selected) %></script>

    <button type="button" class="ui-dropdown__trigger" aria-expanded="false" data-dropdown-trigger>
      <span class="ui-dropdown__summary" data-dropdown-summary><%= dropdown.summary %></span>
      <span class="ui-dropdown__chevron" aria-hidden="true">+</span>
    </button>

    <div class="ui-dropdown__panel" data-dropdown-panel hidden>
      <% if (dropdown.searchable && dropdown.options.length > 0) { %>
        <div class="ui-dropdown__search-wrap">
          <input
            type="search"
            class="ui-dropdown__search"
            placeholder="<%= dropdown.searchPlaceholder %>"
            data-dropdown-search
          />
        </div>
      <% } %>

      <% if (dropdown.mode === "multiple") { %>
        <div class="ui-dropdown__tags" data-dropdown-tags></div>
      <% } %>

      <div class="ui-dropdown__options" data-dropdown-options-list></div>
      <div class="ui-dropdown__inputs" data-dropdown-inputs></div>
    </div>
  </div>

  <% if (dropdown.helper) { %>
    <span class="ui-field__helper"><%= dropdown.helper %></span>
  <% } %>
</div>

<% if (dropdown.standalone) { %>
  <script type="module" src="<%= asset('./dropdown.js') %>"></script>
<% } %>
